#section-1{
    display: flex;
}
.section-1-text{
    width: 50%;
}

.section-1-text h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-left: 165px;
    padding-top: 200px;
    color: #575757;
}
.h1-color{
    color: #6b63ff;
}
.section-1-text p{
    width: 600px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 165px;
    color: #828282;
    padding-bottom: 80px;
}

.section-1-text a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-left: 165px;
    color: white;
    padding: 20px 40px;
    background: linear-gradient(101deg, rgb(158, 153, 255) 0%, rgb(70, 60, 255) 100%);
    border-radius: 30px;
    box-shadow: rgba(83, 87, 92, 0.2) 0px 8px 24px;
}
.section-1-image img{
    margin-top: 80px;
    margin-bottom: 100px;
}

#section-2{
    height: 747px;
    width: 100%;
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    display: flex;
}
.section-2-img{
    width: 50%;
}
.section-2-img img{
    margin-top: 106px;
    margin-left: 200px;
}
.section-2-text{
    width: 50%;
}
.section-2-text h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #2a5cff;
    padding-top: 150px;
    margin-left: 100px;
}
.section-2-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #18191f;
    width: 700px;
    margin-left: 100px;
    padding-bottom: 80px;
}

.section-2-text a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
    padding: 20px 40px;
    background: linear-gradient(101deg, rgb(158, 153, 255) 0%, rgb(70, 60, 255) 100%);
    border-radius: 30px;
    box-shadow: rgba(83, 87, 92, 0.2) 0px 8px 24px;
    margin-left: 100px;
}

.section-3-heading h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #2a5cff;
    padding-top: 50px;
    text-align: center;
}
.section-3-heading p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #18191f;
    text-align: center;
}
.section-3-body{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 100px;
}
.part-1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline-block;
    border-radius: 15px;
    margin: 0px 20px;
}
.part-1 img{
    padding: 15px;
    border-radius: 30px;
}
.part-1 h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #000000;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 0;
}
.part-1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #18191f;
    padding-left: 15px;
    padding-bottom: 50px;
    width: 300px;
    text-align: left;
}

.section-4-heading h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #2a5cff;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 0;
}
.section-4-heading p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #18191f;
    text-align: center;
}

.section-4-image img{
    padding: 0px 5px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.one{
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
}
.two{
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
}
.three{
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
}
.four{
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
}
.five{
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
}
.six{
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
}

#section-5{
    margin-top: 50px;
    margin-bottom: 150px;
}
.section-5-main{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    border-radius: 30px;
}
.section-5-main-1{
    padding: 0 8%;
    text-align: center;
}
.section-5-main-1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #2a5cff;
    margin-bottom: 0;
    padding-top: 20px;
}
.section-5-main-1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #18191f;
    padding-bottom: 50px;
}